
<div class="modal">
    <div class="login-box">
        <button type="button" class="btn-close btn-close-white" aria-label="Close" id="close" (click)="closeModal()"></button>
            <h2>Login</h2>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
            <div class="user-box">
                <input type="text" formControlName="email" required="" [(ngModel)]="email">
                <label>Email</label>
            </div>
            <div *ngIf="Email?.errors && Email?.touched">
                <p>El mail es invalido</p>
            </div>
            <div class="user-box">
                <input type="password" formControlName="password" required="" [(ngModel)]="password">
                <label>Contraseña</label>
            </div>
            <div *ngIf="Password?.errors && Password?.touched">
                <p>La contraseña es invalida</p>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input name="submit" class="btn" type="submit" value="Submit" />
            </a>
            </form>
        </div>
        
    </div>
