

<!--seccion Trabajos-->
<section id="Trabajos"> 


      <!--Button trigger modal-->
     
      <h3 class="titulo-centrado">Trabajos</h3>
<br>
<div *ngIf="logued == true">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" class="agregar"
  data-bs-toggle="modal" data-bs-target="#modal-agregar-trabajo">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg>
</div>

<!-- modal agregar -->
<div class="modal" tabindex="-1" id="modal-agregar-trabajo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar trabajo.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-agregar-trabajo></app-agregar-trabajo>
      </div>
     
    </div>
  </div>
</div>


  <div  *ngFor="let trabajo of trabajos">

  <div class="boton" *ngIf="logued == true">
  <button type="button" 
   class="btn-close" aria-label="Close" (click)="eliminar(trabajo.id)"></button>

  <button type="button" class="btn btn-outline-primary" [routerLink]="['/editarTrabajo', trabajo.id]">Editar</button>
  </div>

    <div class="row justify-content-center">
      <div class="titulo-fecha ">
 <strong class="titulo_trabajo">{{trabajo.institucion}}</strong>
        <div>{{trabajo.inicio}} / {{trabajo.fin}}</div>
      </div>
      <div>
        <p><i>
         {{trabajo.descripcion}}<br>
           </i></p>
           </div>
          </div>
        </div>
        <br>
    <hr>
    
   